:root{
    --primary: #e6cdaf;
    --secondary: #fad483;
    --black: #2E2E2E;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    min-height: 100%;
    background-image: url('images/background.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#start-menu {
    display: block;
}

.start-menu-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.difficulties {     
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 340px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.start-button {
    width: 340px;
}

.button {
    width: 100%;
    height: 50px;
    background-color: var(--primary);
    border: 4px solid var(--secondary);
    font-size: larger;
    color: var(--black);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.button:hover {
    background-color: var(--secondary);
    border: 4px solid var(--primary);
    color: var(--black);
}

.selected {
    background-color: var(--secondary);
    border: 4px solid var(--primary);
    color: var(--black);
}

#game {
    display: none;
}

#instructions {
    width: 340px;
    padding: 20px;
    text-align: justify;
    background-color: var(--primary);
    border-radius: 10px;
}

li {
    margin: 10px;
}

.return {
    width: 250px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    top: 10px;
    left: 10px;
}

#score-display {
    margin: 10px;
    font-size: 1.2em;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
    width: 100%;
}

#canvas-container {
    margin-top: 20px;   
}

#random-curve {
    font-size: 22px;
    background-color: var(--primary);
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
}

#random-curve-container {
    margin-top: 20px;
    border: 1px solid black;
}

#user-equation {
    margin: 10px;
    padding: 5px;
    width: 200px;
}

#score-display {
    margin: 10px;
    font-size: 1.2em;
}

#options-container {
    display: grid;
    width: 600px;
    gap: 10px;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
